/* Root styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

/* body element */
body {
    padding: 30px;
    background-color: black;
    color: peru;
}

/* container */
.container {
    display: flex;
    width: fit-content;
    align-items: center;
    font: 2rem/1.1 bold system-ui, sans-serif;
}

.container:not(:first-child) {
    margin-top: 15px;
}

