/* Root styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

/* body element */
body {
    padding: 30px;
    background-color: black;
    color: peru;
}

/* container */
.container {
    display: flex;
    width: fit-content;
    align-items: center;
    font: 2rem/1.1 bold system-ui, sans-serif;
}

.container:not(:first-child) {
    margin-top: 15px;
}

/* checkbox */
input[type="checkbox"] {
    appearance: none;
    width: 2.15em;
    height: 2.15em;
    margin-right: 10px;
    border: 3px solid peru;
    border-radius: 0.35em;
    display: flex;
    justify-content: center;
    align-items: center;
}

input[type="checkbox"]::after {
    content: "";
    background-color: peru;
    width: 1.45em;
    height: 1.45em;
    transform: scale(0);
    transform-origin: 80% top left;
    transition: transform 200ms ease-in-out;
}
